@import "../../../styles/colors.module.scss";

.episodeCard {
  border: 1px solid $lightGray;
  margin-bottom: 1.25rem;
  width: 34.375rem;
  height: 11.875rem;
  cursor: pointer;
  padding: .625rem .875rem;
  overflow: hidden;
  transition: .5s;

  &:hover {
    border-color: $darkRed;
    height: 13.125rem;
  }
}

.episodeOrderTime{
  display: flex;
  justify-content: center;
  gap: .625rem;
}

.episodeOrder {
  font-weight: bold;
  font-size: 1.125rem;
  color: white;
}

.episodeTime {
  color: $lightGray;
}

.episodeTitleDescription {
  text-align: center;
  margin: .625rem 0;
}

.episodeTitle {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: .625rem;
  color: white;
}

.episodeDescription{ 
  color: $lightGray;
}

@media (max-width: 570px) {
  .episodeCard {
    width: 95%;
  }
}
@media (max-width: 400px) {
  .episodeOrderTime {
    gap: 1.5625rem;
  }

  .episodeTitle{
    font-size: 1.125rem;
  }

  .episodeDescription{
    word-break: break-all;
    font-size: .875rem;
  }
}