@import "./colors.module.scss";

.main{
  background-image: linear-gradient(to bottom, #151515, black);
}

.formTitle{
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2.5rem;
}

.form{
  width: 37.5rem;
  padding: 3.125rem;
  border: 1px solid $darkGray;
  margin: 0 auto;
}

.label {
  font-size: .875rem;
  font-weight: bold;
  padding-top: 1.25rem;
}

.input {
  border-color: $darkGray;
  background-color: transparent;
  color: white;

  &::placeholder{
    color: $lightGray;
  }
  &:focus{
    background-color: transparent;
    border-color: $lightGray;
    color: white;
    box-shadow: none;
  }
}

.inputName {
  @extend .input;
  text-transform: uppercase;

  &::placeholder{
    text-transform: none;
  }
}

.formBtn{
  display: block;
  margin: 50px auto 0px auto;
  border-color: $lightRed;
  color: white;

  &:hover {
    background-color: transparent;
    color: $lightGray;
    border-color: $darkRed;
  }
}

@media (max-width: 767px) {
  .formTitle{
    font-size: 1.875rem;
  }

  .form {
    width: 95%;
  }
}

@media (max-width: 540px){
  .form {
    padding: 3.125rem .625rem;
  }
}

@media (max-width: 425px){
  .formTitle {
    font-size: 1.5rem;
    text-align: center;
  }
}