@import "../../../../styles/colors.module.scss";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1.625rem 0;
}

.footerLogo {
  width: 13.75rem;
}

.footerLink {
  text-decoration: none;
  color: $mediumGray;
  transition: .3s;

  &:hover {
    color: $lightGray;
  }
}

@media (max-width: 575px){
  .footer {
    padding: 1.625rem 1rem;
  }
}

@media (max-width: 406px){
  .footer {
    justify-content: center;
  }
}